{% extends "base.html" %}
{% load custom_filters %}
{% block active3 %}class="active"{% endblock %}
{% block body %}
<div class="page-header">
<h1>Info <small>Was wir hier machen</small></h1>
</div>
<div class="row">
<div class="span12">
<dib class="row">
<div class="span3">
<h3>Videos</h3>
<p>Dieses Portal soll dazu dienen, die Videos der Piratenfraktion im Abgeordnetenhaus von Berlin zu ver&ouml;ffentlichen. Der Upload geschieht durch die Fraktion selbst, ein hosten von Videos f&uuml;r andere ist nicht m&ouml;glich.</p>
<p>Wenn ihr die Videos aus diesem System abonieren wollt und so immer auf dem aktuellen Stand bleiben wollt empfehlen wir euch das OpenSource Projekt <a href="http://www.getmiro.com" target="_blank">Miro</a>
<p>Original Dateien gibt es nur als Torrent, da wir glauben, dass dies die beste Methode ist um gro&szig;e Dateien im Internet zu transportieren. Als Formate bieten wir MP4 und WebM an, f&uuml;r Audiodateien MP3 und OGG</p>
</div>
<div class="span3">
<h3>Lizenz</h3>
<p>Alle Inhalte stehen unter CC-BY-SA und d&uuml;rfen von jedem Menschen frei und f&uuml;r jeden Zweck genutzt werden, so lange der Urheber (Piratenfraktion im Abgeordnetenhaus von Berlin) genannt und die daraus resultierenden Arbeiten auch unter gleichen Bedingungen geteilt werden, andere Regelungen m&uuml;ssen direkt mit uns abgesprochen werden.</p> 
</div>
<div class="span3">
<h3>Open Source</h3>
<p>Die Technik hinter diesem Portal ist Open Source, basiert auf Python, Django (mit South) und Twitter Bootstrap und kann von jedem Menschen, f&uuml;r jeden Zweck genutzt werden. Informationen hier zu sind im <a href="http://github.com/Piratenfraktion-Berlin/OwnTube">Github Projekt</a> von OwnTube zu finden, dort k&oennen auch Fehler und Bugs gemeldet werden.</p>
</div>
</div>
</div>
</div>
{% endblock %}
