[submodule "djangotasks"]
	path = djangotasks
	url = https://github.com/Piratenfraktion-Berlin/djangotasks.git
[submodule "videoportal/pytranscode"]
	path = videoportal/pytranscode
	url = https://github.com/Piratenfraktion-Berlin/pytranscode.git
