[submodule "djangotasks"]
	path = djangotasks
	url = git@github.com:Piratenfraktion-Berlin/djangotasks.git
[submodule "videoportal/pytranscode"]
	path = videoportal/pytranscode
	url = git@github.com:Piratenfraktion-Berlin/pytranscode.git
