{% extends "base.html" %}
{% block active1 %}
class="active"
{% endblock %}
{% load custom_filters %}
{% block body %}
<div class="page-header">
<h1>Playlist: {{ collection.title }}</h1>
</div>
<div class="row">
<div class="span8">
{% include "videos/videolist.html" with video_list=videos_list %}
</div>
<div class="span4">
<div class=well>
<ul class="nav nav-list">
  <li class="nav-header">
    Original Material
  </li>
  <li>
    <a href="/feeds/collection/{{ collection.slug }}/torrent/"">Torrents-Feed</a>
  </li>
  <li class="nav-header">
    Video-Podcast
  </li>
  <li>
    <a href="/feeds/collection/{{ collection.slug }}/mp4/">MP4-Format</a>
  </li>
  <li>
    <a href="/feeds/collection/{{ collection.slug }}/webm/">WEBM-Format</a>
  </li>
  <li class="nav-header">
    Audio-Podcast
  </li>
  <li>
    <a href="/feeds/collection/{{ collection.slug }}/mp3/">MP3-Format</a>
  </li>
  <li>
    <a href="/feeds/collection/{{ collection.slug }}/ogg/">OGG-Format</a>
  </li>
</ul>
</div>
</div>
	</div>
{% endblock %}
