{% extends "base.html" %}
{% load custom_filters %}
{% load taggit_extras %}
{% block active1 %}
class="active"
{% endblock %}
{% block body %}
<div class="page-header">
<h1>Piratenfraktion Berlin <small>OwnTube</small></h1>
</div>
<div class="row">
<div class="span8">
<ul class="nav nav-tabs">
  <li class="active">
    <a href="/">Neuste Videos</a>
  </li>
  {% for channel in channel_list %}
  {% if channel.featured %}
  <li><a href="/videos/channel/{{ channel.slug }}/">{{ channel.name }}</a></li>
  {% endif %}
  {% endfor %}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Alle Channel
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      {% for channel in channel_list %}
        <li><a href="/videos/channel/{{ channel.slug }}/">{{ channel.name }}</a></li>
     {% endfor %}
    </ul>
  </li>
</ul>
{% if latest_videos_list %}
    {% for video in latest_videos_list %}
    <div class="row">
    <div class="span6 well">
	{% if video.kind != 1 %}
	{% if video.videoThumbURL %}
        <a href="/videos/{{ video.slug }}/"><img src="{{ video.videoThumbURL }}" width="100px" style="float:left; margin:0 10px 0 0;"/></a>
	{% else %}
	<a href="/videos/{{ video.slug }}/"><img src="{{ STATIC_URL }}/default-video.png" width="100px" style="float:left; margin:0 10px 0 0;"/></<a>
	{% endif %}
	{% else %}
        <a href="/videos/{{ video.slug }}/"><img src="{{ STATIC_URL }}/default-audio.png" width="100px" style="float:left; margin:0 10px 0 0;"/></a>
	{% endif %}
        <a href="/videos/{{ video.slug }}/"><h4>{{ video.title }}</h4></a>
	<span><strong>Beschreibung: </strong>{{ video.description|truncatechars:100 }}</span><br/>
        <span><strong>Datum: </strong>{{ video.date }}{% if video.duration %} &bull; <strong>Länge: </strong>{{ video.duration|secondstohms }}{% endif %}</span>
	</div>
	</div>
    {% endfor %}
{% else %}
    <p>No videos are available.</p>
{% endif %}
<ul class="pager">
{% if latest_videos_list.has_previous %}
  <li class="previous">
      <a href="?page={{ latest_videos_list.previous_page_number }}">&larr; Neuer</a>
  </li>
{% endif %}
{% if latest_videos_list.has_next %}
  <li class="next">
      <a href="?page={{ latest_videos_list.next_page_number }}">&Auml;lter &rarr;</a>
    </li>
{% endif %}
</ul>
</div>
<div class="span4">
<div class=well>
<ul class="nav nav-list">
  <li class="nav-header">
    Original Material
  </li>
  <li>
    <a href="/feeds/latest/torrent/">Torrents-Feed</a>
  </li>
  <li class="nav-header">
    Video-Podcast
  </li>
  <li>
    <a href="/feeds/latest/mp4/">MP4-Format</a>
  </li>
  <li>
    <a href="/feeds/latest/webm/">WEBM-Format</a>
  </li>
  <li class="nav-header">
    Audio-Podcast
  </li>
  <li>
    <a href="/feeds/latest/mp3/">MP3-Format</a>
  </li>
  <li>
    <a href="/feeds/latest/ogg/">OGG-Format</a>
  </li>
  <li class="divider"></li>
  <li>
  	<a href="mailto:it@piratenfraktion-berlin.de"><i class="icon-bullhorn"></i> Kontakt</a>
  </li>
</ul>
</div>
</div>
<div class="span4">
<div class="well">
{% get_tagcloud as tags for 'videoportal.Video' %}
<ul>
{% for tag in tags %}
<a href="/tags/{{tag.name}}" class="tag-weight-{{tag.weight|floatformat:0}}">{{tag.name}}</a>
{% endfor %}
<ul>
</div>
</div>
</div>
{% endblock %}
