{% extends "base.html" %}
{% load custom_filters %}
{% block title %} - Livestream {% endblock %}
{% block active2 %}class="active"{% endblock %}
{% block head %}
<style type="text/css">
	.stream {
		position: relative;
		padding-bottom: 55%;
		padding-top: 15px
		height: 0;
		overflow: hidden;
	}
	.stream iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
</style>
{% endblock %}
{% block body %}
<div class="page-header">
<h1>Livestreams</h1>
</div>
<div class="row">
<div class="span8">
{% if stream_list %}
{% for stream in stream_list %}
<div class="well">
<div class="stream">
{{ stream.display_iFrameSafeField }}
</div>
<h3>{{ stream.title }}</h3>
<dt>Beschreibung:</dt>
<dd>{{ stream.description }} </dd>
{% if stream.link %}
<dt>Link:</dt>
<dd><a href="{{ stream.link }}" target="_Blank">{{ stream.link }}</a>
{% endif %}
{% if stream.rtmpLink %}
<dt>RTMP:</dt>
<dd><a href="{{ stream.rtmpLink }}">{{ stream.rtmpLink }}</a>
{% endif %}
{% if stream.audioOnlyLink %}
<dt>Audio-Only Stream:</dt>
<dd><a href="{{ stream.audioOnlyLink }}">{{ stream.audioOnlyLink }}</a>
{% endif %}
</div>
{% endfor %}
{% else %}
<div class="well">
<p>Es gibt gerade keine Streams</p>
</div>
{% endif %}
</div>
<div class="span4">
<div class=well>
<ul class="nav nav-list">
  <li class="nav-header">
    Die n&auml;chsten Streams
  </li>
  	{% if upcoming_streams_list %}
    {% for stream in upcoming_streams_list %}
    <li><a href="/stream/{{ stream.slug }}/">{{ stream.startDate|date:"d.m.y H:i" }}: {{ stream.title }}</a></li>
    {% endfor %}
    {% else %}
    <li>Es sind keine Streams geplant</li>
    {% endif %}
  <li class="nav-header">
    Feeds
  </li>
  <li>
    <a href="/feeds/stream/upcoming/">Die n&auml;chsten Events</a>
  </li>
</ul>
</div>
</div>
</div>
{% endblock %}
